# Ansible
ansible/**/*.retry
ansible/group_vars/*
ansible/roles/external/*
ansible/ssh.cfg
ansible/src/
ansible/tmp/*
!ansible/tmp/.keep
secrets.yml
.vault_pass.txt
*.pem
~$*
*.pyc
jenkins-jobs/jenkins-backup/job.xml

## Terraform ##
#
# Ignore private variables
*.tfvars
#
# Compiled files
*.tfstate*
#
# Module directories
.terraform/
modules/