# On most strings, note the following: only lowercase alphanumeric characters, hyphens, underscores, periods, and spaces allowed.
aws_az1 = "<aws az1>"
aws_az2 = "<aws az2>"
vpc_name = "<name of mgmt VPC>"
private_vpc_zone_name = "<dns-name-of-zone.tld>"

# Type: String (but make it a CIDR range like 10.0.0.0/16)
vpc_cidr = "<cidr range>"

# Type: List (but make it a CIDR range like 10.0.0.0/16)
app_public_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: List (but make it a CIDR range like 10.0.0.0/16)
app_private_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: List, comma-delimited (but make them a CIDR range like 10.0.0.0/16)
database_subnet_cidrs = ["<cidr range>", "<cidr range>"]

# Type: string, only "true" or "false" valid
enable_nat_gateway = "<true or false>"

# Type: string, only "true" or "false" valid
enable_dns_hostnames = "<true or false>"

# Type: string, only "true" or "false" valid
enable_dns_support = "<true or false>"

# Type: string, only "true" or "false" valid
create_database_subnet_group = "<true or false>"
